// Custom KSS styles for KB Styleguide
// This is only used for the documentation

@import '../../custom/custom.less';

// Responsive
.logo-text {
  @media screen and (max-width: @screen-xs-max) {
    display: none !important;
  }
  margin-right: 0.5em;
}

// Navbar
.kss-navbar {
  .update-text {
    @media screen and (max-width: @screen-sm-max) {
      display: none;
    }
    padding: 14px;
  }
  .navbar-header {
    img {
      height: 30px;
      display: inline;
    }
    h4 {
      display: inline;
      vertical-align: middle;
    }
  }
}
.navbar-collapse {
  max-height: 100% !important;
}
.navbar-nav {
  @media screen and (min-width: @screen-sm-min) {
    display: none !important;
  }
}

// Sidebar
.sidebar {
  padding: 10px 20px 10px 20px !important;
}
.kss-menu {
  > .kss-menu-item {
    &:hover {
      background-color: fadeout(@happy-muted-magenta, 40%);
    }
    .label {
      margin: 0.7em 0px;
      font-size: 0.5em !important;
      font-weight: normal;
    }
    a {
      color: black;
      font-weight: 400;
      padding: 0px 10px;
      display: block;
      text-decoration: none;
    }
    &.kss-active > a {
      background-color: @happy-muted-magenta;
      color: @white;
    }
    &.kss-active > ul {
      list-style: none;
      padding: 0px;
      background-color: lighten(@happy-muted-magenta, 25%);
      li {
        padding: 0px 0px 0px 20px;
        margin-left: 0px;
        &:hover {
          background-color: fadeout(@happy-muted-magenta, 40%);
        }
      }
      > .kss-active {
        background-color: @happy-muted-magenta !important;
        a { color: @white;}
      }
    }
  }
}

.kss-markup {
  &.folded-example {
    pre {
      display: none;
      max-height: 2em;
      opacity: 0.4;
      overflow: hidden !important;
    }
  }
}

.kss-description td, .kss-description th {
  padding: 5px;
}

.kss-menubar {
  @media screen and (min-width: @screen-md-min) {
    .kss-sidebar-inner {
      position: fixed;
      top: 0px;
      margin-left: -2%;
      width: 230px;
    }
  }
  @media screen and (max-width: @screen-sm-max) {
    .kss-menu-item {
      font-size: 20px !important;
      line-height: 1.5 !important;
      .kss-name, .kss-ref {
        white-space: normal !important;
      }
    }
  }
}

// Modifiers
.kss-modifier-head {
  margin: 20px 0px;
  .kss-modifier-name, .kss-modifier-description {
    display: inline;
  }
}


// Headers
.kss-depth-1 h1 { font-size: 36px; }
.kss-depth-2 h1 { font-size: 30px; }
.kss-depth-3 h1 { font-size: 24px; }
.kss-depth-4 h1 { font-size: 20px; }

// Content

.kss-content {
  margin-left: none !important;
}
.kss-section {
  margin-bottom: 0em;
  padding-top: 3em;
  .kss-title {
    border: solid #333333;
    border-width: 0px 0px 0.1em 0px;
    margin-bottom: 1em;
  }
}
