// Buttons
//
// Different types of buttons.
//
// .btn-default    - Default
// .btn-primary    - Primary
// .btn-info       - Info
// .btn-success    - Success
// .btn-warning    - Warning
// .btn-danger     - Danger
// .btn-inverse    - Inverse
// .btn-link			 - Link
//
// Markup:
// <button class="button btn {{modifier_class}}">Button Element</button>
// <button class="button btn disabled {{modifier_class}}">Disabled</button>
//
// Styleguide 3.


.btn {
	text-transform: @btn-text-transform;
	font-family: @btn-font-family;
	text-shadow: @btn-text-shadow;
}