/* Overrides to make the preview-template work */
/* This is not where you make any customizations */

.modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}
.modal-dialog {
	width: 90%;
}