@import '../../custom/custom.less';

.kss-markup {
  &.folded-example {
    pre {
      max-height: 2em;
      opacity: 0.4;
      overflow: hidden !important;
    }
  }
}

.kss-description td, .kss-description th {
  padding: 5px;
}

.kss-menubar {
  @media screen and (min-width: @screen-md-min) {
    .kss-sidebar-inner {
      position: fixed;
      top: 0px;
      margin-left: -2%;
      width: 230px;
    }
  }
}

.kss-content {
  margin-left: none !important;
}
