/*
Knappar och etiketter

Styleguide 7.
*/

/*
Knappar

Knappar används för att verkställa en handling. Knappen måste ha någon typ av fokus-state för att följa tillgänglighetsstandarder.

Beroende på vilken funktion knappen har så har knappen olika färger. Färgerna på knapparna är konstanta, oberoende av vilken färgpalett som används. Val av knapp ska vara konsekvent. Använd enbart dessa varianter.

Texten på en knapp ska vara kort och beskriva handlingen som knappen utför.

Styleguide 7.1
*/

/*
Storlekar

.btn-lg    - Large
.btn-sm    - Small
.btn-xs    - Extra small

Markup:
<button class="btn btn-default {{modifier_class}}">Button</button>
<button class="btn btn-primary {{modifier_class}}">Button</button>

Styleguide 7.1.1
*/


/*
Skal

.btn-default    - Default
.btn-primary    - Primary
.btn-info       - Info
.btn-success    - Success
.btn-warning    - Warning
.btn-danger     - Danger
.btn-link			 - Link

Markup:
<button class="btn {{modifier_class}}">Button Element</button>
<button disabled class="btn {{modifier_class}}">Disabled</button>

Styleguide 7.1.2
*/


/*
Dropdown-menyer

.btn-default  - Default
.btn-success  - Success
.btn-danger   - Danger

Markup:
<div class="dropdown">
  <button class="btn {{modifier_class}} dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Meny
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Något</a></li>
    <li><a href="#">Något annat</a></li>
    <li><a href="#">Ännu en sak</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separerad sak</a></li>
  </ul>
</div>

Styleguide 7.1.3
*/
