// Knappar
//
// Knappar används för att verkställa en handling. 
//
// Texten på en knapp ska vara kort och beskriva handlingen som knappen utför.
//
// Knappen måste ha någon typ av fokus-state för att följa tillgänglighetsstandarder.
//
// Styleguide 5.

.btn {
	position: relative;
	top: -1px;
	font-weight: 400;
	box-shadow: 0px 2px 0px 0px darken(#fff, 20%);
	transition: 0.5s ease;
	transition-property: color, background-color, border-color, position;
}
.btn.btn-link {
	box-shadow: none;
	position: initial;
	&:active {
		position: initial;
	}
}
.btn:active {
	position: relative;
	top: 1px;
}
button[disabled=disabled], button:disabled {
	position: relative;
	top: 1px;
}

// Remember to use some other type of focus indicator when outline is removed.
// Without a focus indicator it will not comply with accessability standards.
button:focus {outline:0 !important;}

// Storlekar
//
// .btn-lg    - Large
// .btn-sm    - Small
// .btn-xs    - Extra small
// .btn-block    - Block
//
// Markup:
// <button class="btn btn-default {{modifier_class}}">Button</button>
// <button class="btn btn-primary {{modifier_class}}">Button</button>
//
// Styleguide 5.1

.btn {
	border-radius: 5px;
}
.btn-lg {
	border-radius: 5px;
}
.btn-sm {
	border-radius: 5px;
}
.btn-xs {
	border-radius: 5px;
}
.btn-block {
	//
}


// Skal
//
// .btn-default    - Default
// .btn-primary    - Primary
// .btn-info       - Info
// .btn-success    - Success
// .btn-warning    - Warning
// .btn-danger     - Danger
// .btn-link			 - Link
//
// Markup:
// <button class="btn {{modifier_class}}">Button Element</button>
// <button disabled class="btn {{modifier_class}}">Disabled</button>
//
// Styleguide 5.2

.button-colors(@color) {
	background-color: @color;
	box-shadow: 0px 2px 0px 0px darken(@color, 20%);
	&:hover {
		background-color: darken(@color, 10%);
		border-color: darken(@color, 10%);
	}
	& when (luma(@color) >= 60%) {
	  color: darken(@color, 35%);
	  &:hover {
	  	color: darken(@color, 35%);
	  }
		&:active, &:focus {
			background-color: @color;
			color: darken(@color, 35%);
		}
	}
	& when (luma(@color) < 60%) {
	  color: lighten(@color, 40%);
	  &:hover {
	  	color: lighten(@color, 40%);
	  }
		&:active, &:focus {
			background-color: @color;
			color: lighten(@color, 40%);
		}
	}
}

.btn-primary {
	.button-colors(@brand-primary);
}
.btn-info {
	.button-colors(@brand-info);
}
.btn-success {
	.button-colors(@brand-success);
}
.btn-warning {
	.button-colors(@brand-warning);
}
.btn-danger {
	.button-colors(@brand-danger);
}
