/*
Färg

Använd KB’s färgpalett. Behöver tjänsten egna färger glöm ej att de måste vara websäkra och kontrastrika ur tillgänglighetsaspekt.

Färgkontrasten för text och interaktiva element ska följa [W3C’s standard](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html).

Styleguide 5.
*/

/*
Paletter

Det finns fyra färgsviter att välja mellan: Glad, Glad dämpad, Pastell och Pastell dämpad. Färgsviterna är uppdelade i två familjer: Gladfamiljen och Pastellfamiljen. Om man behöver fler färgkombinationer går det bra att kombinera färger inom respektive familj, men ej däremellan. Färger med stark accent används med fördel på mindre partier som ikoner eller citattecken, ej på stora ytor. Gråskalan går att kombinera med alla färgpaletter. Färger på knapparna är **konstanta**, se under *knappar*.

För att underlätta användandet av färgerna kan man använda sig av ett par hjälpklasser som fungerar på följande vis:

- .bg-[färg] (t ex .bg-happy-blue) Sätter färgen som bakgrund
- .text-[färg] (t ex .text-happy-blue) Sätter färgen som text och tvingar även länkar att vara den färgen

Styleguide 5.1.
*/

/*
Palett: Glad

Markup:
<div class="color-box bg-happy-blue"></div>
<div class="color-box bg-happy-magenta"></div>
<div class="color-box bg-happy-green"></div>
<div class="color-box bg-happy-desert"></div>
<div class="color-box bg-happy-orange"></div>

Styleguide 5.1.1
*/

/*
Palett: Glad dämpad

Markup:
<div class="color-box bg-happy-muted-brown"></div>
<div class="color-box bg-happy-muted-desert"></div>
<div class="color-box bg-happy-muted-light-blue"></div>
<div class="color-box bg-happy-muted-magenta"></div>
<div class="color-box bg-happy-muted-denim"></div>

Styleguide 5.1.2
*/

/*
Palett: Pastell

Markup:
<div class="color-box bg-pastel-denim"></div>
<div class="color-box bg-pastel-pink"></div>
<div class="color-box bg-pastel-light-blue"></div>
<div class="color-box bg-pastel-desert"></div>
<div class="color-box bg-pastel-desert-darker"></div>

Styleguide 5.1.3
*/

/*
Palett: Pastell dämpad

Markup:
<div class="color-box bg-pastel-muted-purple"></div>
<div class="color-box bg-pastel-muted-yellow"></div>
<div class="color-box bg-pastel-muted-pink"></div>
<div class="color-box bg-pastel-muted-blue"></div>
<div class="color-box bg-pastel-muted-denim"></div>

Styleguide 5.1.4
*/

/*
Palett: Gråskala

Markup:
<div class="color-box bg-white subtleborder"></div>
<div class="color-box bg-grey-lighter"></div>
<div class="color-box bg-grey-light"></div>
<div class="color-box bg-grey"></div>
<div class="color-box bg-grey-dark"></div>
<div class="color-box bg-grey-darker"></div>

Styleguide 5.1.5
*/


/*
Palett: Statusfärger

Färger som används till knappar och indikatorer.

Markup:
<div class="color-box bg-brand-primary"></div>
<div class="color-box bg-brand-info"></div>
<div class="color-box bg-brand-success"></div>
<div class="color-box bg-brand-warning"></div>
<div class="color-box bg-brand-danger"></div>

Styleguide 5.1.6
*/

.subtleborder {
	border: 1px solid #ccc !important;
}
.color-box {
	display: inline-block;
	width: 120px;
	height: 60px;
	border-radius: 10px;
	border: 0px solid @grey-dark;
}

a {	color: #07c; }

// Glad
@happy-blue: #5DC4ED;
@happy-magenta: #2EB5B6;
@happy-green: #34EAB4;
@happy-desert: #FED481;
@happy-orange: #FD8C41;
// Glad dämpad
@happy-muted-brown: #A39789;
@happy-muted-desert: #EBE5BA;
@happy-muted-light-blue: #BACAD4;
@happy-muted-magenta: #72A8AD;
@happy-muted-denim: #547E91;
// Pastell
@pastel-denim: #88B4C9;
@pastel-pink: #F5B3D9;
@pastel-light-blue: #AEEAF2;
@pastel-desert: #CFD4AD;
@pastel-desert-darker: #CCBFA8;
// Pastell dämpad
@pastel-muted-purple: #A5929C;
@pastel-muted-yellow: #F9F0B4;
@pastel-muted-pink: #F297C8;
@pastel-muted-blue: #61B5BF;
@pastel-muted-denim: #6C84A5;
// Gråskala
@white: #ffffff;
@grey-lighter: #E0E6E9;
@grey-light: #C4C7CA;
@grey: #949A9E;
@grey-dark: #6F767B;
@grey-darker: #595D61;
@black: #333;
// Buttons
@btn-green: #52BD34;
@btn-green-hover: #52CB31;
@btn-blue: #86B5CB;
@btn-blue-hover: #9ACAE1;
@btn-yellow: #FBED18;
@btn-yellow-hover: #FFF77A;
@btn-red: #F9897D;
@btn-red-hover: #FF9795;


// Color connections
@brand-primary: @happy-blue;
@brand-info: @btn-blue;
@brand-success: @btn-green;
@brand-warning: @btn-yellow;
@brand-danger: @btn-red;
@brand-link: @happy-blue;

@jumbotron-bg: @brand-primary;

// Bg-Colors
.bg-happy-blue { background-color: @happy-blue; }
.bg-happy-magenta { background-color: @happy-magenta; }
.bg-happy-green { background-color: @happy-green; }
.bg-happy-desert { background-color: @happy-desert; }
.bg-happy-orange { background-color: @happy-orange; }
.bg-happy-muted-brown { background-color: @happy-muted-brown; }
.bg-happy-muted-desert { background-color: @happy-muted-desert; }
.bg-happy-muted-light-blue { background-color: @happy-muted-light-blue; }
.bg-happy-muted-magenta { background-color: @happy-muted-magenta; }
.bg-happy-muted-denim { background-color: @happy-muted-denim; }
.bg-pastel-denim { background-color: @pastel-denim; }
.bg-pastel-pink { background-color: @pastel-pink; }
.bg-pastel-light-blue { background-color: @pastel-light-blue; }
.bg-pastel-desert { background-color: @pastel-desert; }
.bg-pastel-desert-darker { background-color: @pastel-desert-darker; }
.bg-pastel-muted-purple { background-color: @pastel-muted-purple; }
.bg-pastel-muted-yellow { background-color: @pastel-muted-yellow; }
.bg-pastel-muted-pink { background-color: @pastel-muted-pink; }
.bg-pastel-muted-blue { background-color: @pastel-muted-blue; }
.bg-pastel-muted-denim { background-color: @pastel-muted-denim; }
.bg-white { background-color: @white; }
.bg-grey-lighter { background-color: @grey-lighter; }
.bg-grey-light { background-color: @grey-light; }
.bg-grey { background-color: @grey; }
.bg-grey-dark { background-color: @grey-dark; }
.bg-grey-darker { background-color: @grey-darker; }
.bg-black { background-color: @black; }
.bg-brand-primary { background-color: @brand-primary; }
.bg-brand-success { background-color: @brand-success; }
.bg-brand-warning { background-color: @brand-warning; }
.bg-brand-info { background-color: @brand-info; }
.bg-brand-danger { background-color: @brand-danger; }

// Text Colors
.forced-text-color(@color) {
	color: @color;
	a {
		color: @color;
		&:hover {
			color: lighten(@color, 10%);
		}
	}
}
.text-happy-blue { .forced-text-color(@happy-blue); }
.text-happy-magenta { .forced-text-color(@happy-magenta); }
.text-happy-green { .forced-text-color(@happy-green); }
.text-happy-desert { .forced-text-color(@happy-desert); }
.text-happy-orange { .forced-text-color(@happy-orange); }
.text-happy-muted-brown { .forced-text-color(@happy-muted-brown); }
.text-happy-muted-desert { .forced-text-color(@happy-muted-desert); }
.text-happy-muted-light-blue { .forced-text-color(@happy-muted-light-blue); }
.text-happy-muted-magenta { .forced-text-color(@happy-muted-magenta); }
.text-happy-muted-denim { .forced-text-color(@happy-muted-denim); }
.text-pastel-denim { .forced-text-color(@pastel-denim); }
.text-pastel-pink { .forced-text-color(@pastel-pink); }
.text-pastel-light-blue { .forced-text-color(@pastel-light-blue); }
.text-pastel-desert { .forced-text-color(@pastel-desert); }
.text-pastel-desert-darker { .forced-text-color(@pastel-desert-darker); }
.text-pastel-muted-purple { .forced-text-color(@pastel-muted-purple); }
.text-pastel-muted-yellow { .forced-text-color(@pastel-muted-yellow); }
.text-pastel-muted-pink { .forced-text-color(@pastel-muted-pink); }
.text-pastel-muted-blue { .forced-text-color(@pastel-muted-blue); }
.text-pastel-muted-denim { .forced-text-color(@pastel-muted-denim); }
.text-white { .forced-text-color(@white); }
.text-grey-lighter { .forced-text-color(@grey-lighter); }
.text-grey-light { .forced-text-color(@grey-light); }
.text-grey { .forced-text-color(@grey); }
.text-grey-dark { .forced-text-color(@grey-dark); }
.text-grey-darker { .forced-text-color(@grey-darker); }
.text-black { .forced-text-color(@black); }

/*
Mönster

Olika mönster som kan kombineras med färgerna ovan. I exemplen nedan är mönstren nedskalade till 50%.

### Tillhörande filer
* [Vågmönster](./assets/pattern_waves.png)
* [Bollmönster](./assets/pattern_balls.png)
* [Korsmönster](./assets/pattern_cross.png)

Markup:
<div class="pattern-box bg-pastel-denim has-pattern pattern-waves"></div>
<div class="pattern-box bg-pastel-pink has-pattern pattern-balls"></div>
<div class="pattern-box bg-pastel-desert has-pattern pattern-cross"></div>

Styleguide 5.2
*/

.pattern-box {
	display: inline-block;
	width: 100%;
	height: 200px;
	border: 0px solid @grey-dark;
	background-size: 50%;
	border-radius: 10px;
}

.has-pattern {
	position: relative;
	overflow: hidden;
}

.has-pattern * {
	z-index: 2;
	position: relative;
}
.pattern-waves:before {
	background-image: url('../assets/pattern_waves.png');
}
.pattern-balls:before {
	background-image: url('../assets/pattern_balls.png');
}
.pattern-cross:before {
	background-image: url('../assets/pattern_cross.png');
}

.has-pattern:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.15;
    background-position: 0 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
