// Footer
.footer {
  &>div:first-of-type {
    margin-top: 50px;
  }
}
.footer-container {
  &>div {
    padding: 25px 0px;
  }
}


// Jumbotron
.jumbotron {
  text-align: center;
  padding: 100px 0px;
  color: @white;
}

// Colors
.is-grey-light {
  background-color: @grey-light;
}
.is-green-pale {
  background-color: @green-pale;
}
