// Docs

/*
Logotyper

KBs Logotyp i SVG-format

.logo-small - Liten logga
.logo-medium - Mellan logga
.logo-large - Stor logga

Markup:
<img src="./assets/kb_logo_svart.svg" class="{{modifier_class}}" />

Styleguide 1.
*/

.logo-small {
	height: 50px;
}
.logo-medium {
	height: 100px;
}
.logo-large {
	height: 150px;
}


// Behållare
//
// Styleguide 6.