// Docs

/*
Logotyper

KBs Logotyp i SVG-format

.logo-small - Liten logga (50px)
.logo-medium - Mellan logga (100px)
.logo-large - Stor logga (150px)

Markup:
<img src="./assets/kb_logo_black.svg" class="{{modifier_class}}" />

Styleguide 1.
*/

.logo-small {
	height: 50px;
}
.logo-medium {
	height: 100px;
}
.logo-large {
	height: 150px;
}


// Behållare
//
// Styleguide 6.