/*
Sidhuvud/Sidfot


Styleguide 3.
*/


/*
Navigation bars

Markup:
<div class="navbar">
	<div class="container">
	  <div class="navbar-header">
	    <a class="navbar-brand navbar-logo" href="#"><img src="./assets/kb_logo_black.svg" /></a>
	    <a class="navbar-brand" href="#">Projektnamn</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#about">About</a></li>
	      <li><a href="#contact">Contact</a></li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	      </li>
	    </ul>
	  </div>
	</div>
</div>
<br>
<div class="navbar navbar-inverse">
	<div class="container">
	  <div class="navbar-header">
	    <a class="navbar-brand navbar-logo" href="#"><img src="./assets/kb_logo_white.svg" /></a>
	    <a class="navbar-brand" href="#">Projektnamn</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#about">About</a></li>
	      <li><a href="#contact">Contact</a></li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	      </li>
	    </ul>
	  </div>
	</div>
</div>

Styleguide 3.1
*/

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: @gray-dark;
	border-color: @gray-dark;
	color: @white;
	a {
		color: @white;
	}
	.navbar-brand {
		color: @white;
	}
}

.navbar-brand {
	color: @grey-dark;
	font-size: 24px;
	font-weight: 500;
}
.navbar-logo {
  padding: 0px;
  img {
  	margin: 10% 0px 10% 10%;
    height: 80%;
  }
  margin: 0px 15px 0px 0px;
}


/*
Logotyper

KBs Logotyp i SVG-format.

## Filer

* [KB Logo svart](./assets/kb_logo_black.svg)
* [KB Logo vit](./assets/kb_logo_white.svg)
* [KB Text svart](./assets/kb_text_black.svg)
* [KB Text vit](./assets/kb_text_white.svg)

.logo-small - Liten logga (50px)
.logo-medium - Mellan logga (100px)
.logo-large - Stor logga (150px)

Markup:
<img src="./assets/kb_logo_black.svg" class="{{modifier_class}}" />

Styleguide 3.2
*/

.logo-small {
	height: 50px;
}
.logo-medium {
	height: 100px;
}
.logo-large {
	height: 150px;
}


/*
Footer

En sidfot är en sidfot är en sidfot.

Använder .footer-container för att stapla flera footers inuti footer-tagen.

Markup:
    <footer class="footer">
      <div class="footer-container is-grey-lighter">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>List 1</h1>
              <ul class="list-unstyled">
                <li>Lorem ipsum</li>
                <li>Dorem</li>
                <li>Ipsum santi laninum</li>
                <li>Verti absolutom</li>
                <li>Neo geosatium</li>
                <li>Verti absolutom</li>
                <li>Neo geosatium</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h1>List 2</h1>
              <ul class="list-unstyled">
                <li>Lorem ipsum</li>
                <li>Dorem</li>
                <li>Ipsum santi laninum</li>
                <li>Verti absolutom</li>
                <li>Neo geosatium</li>
                <li>Verti absolutom</li>
                <li>Neo geosatium</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-container is-happy-green">
        <div class="container">
          <p class="text-muted"><img src="./assets/kb_logo_white.svg" class="logo-medium" /></p>
        </div>
      </div>
    </footer>

Styleguide 3.3
*/
.footer {
  &>div:first-of-type {
    margin-top: 50px;
  }
}
.footer-container {
  &>div {
    padding: 25px 0px;
  }
}

.footer h1 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: @grey;
}
.footer h2 {
  font-size: 14px;
  font-weight: 700;
}
.footer div {
  vertical-align: middle;
}

// Jumbotron
.jumbotron {
  text-align: center;
  padding: 100px 0px;
  color: @white;
}

