// Navigation bars
//
// Markup:
// <div class="navbar">Tjohej</div>
// <div class="navbar navbar-inverse">Tjohej</div>
//
// Styleguide 6.1

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: @gray-dark;
	border-color: @gray-dark;
	color: @white;
	a {
		color: @white;
	}
}

.navbar-brand {
  margin: 10px 0px;
}
.navbar-form {
  margin: 15px 0px;
}

.navbar-brand.logo {
  padding: 0px;
  img {
    height: 100%;
  }
  margin: 10px 15px 10px 0px;
}