// Navigation bars
//
// Markup:
// <div class="navbar">Tjohej</div>
// <div class="navbar navbar-inverse">Tjohej</div>
//
// Styleguide 6.5

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: @gray-dark;
	border-color: @gray-dark;
	color: @white;
	a {
		color: @white;
	}
}