// Navigation bars
//
// Markup:
// <div class="navbar">Tjohej</div>
// <div class="navbar navbar-inverse">Tjohej</div>
//
// Styleguide 6.1

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: @gray-dark;
	border-color: @gray-dark;
	color: @white;
	a {
		color: @white;
	}
}

.navbar-brand {
	font-size: 24px;
	font-weight: 500;
}
.navbar-logo {
  padding: 0px;
  img {
    height: 100%;
  }
  margin: 2px 15px 2px 0px;
}