// Typography
//
// Vi använder oss av [Cabin](https://www.google.com/fonts/specimen/Cabin) från Google Fonts. Vid behov av att använda ytterligare typsnitt ska dessa väljas med hänsyn till tillgänglighet och öppenhet.
//
// Styleguide 4.

@font-family-base: 'Cabin', sans-serif;

/*
Sizes

| Element | Storlek | 
|---|---|
| h1  | 36px
| h2  | 30px
| h3  | 24px
| h4  | 20px
| p 	| 14px

Styleguide 4.1
*/

/*
Headers

Different titles. All are using font-weight 700.

Markup:
<h1>h1 - This is a main title</h1>
<h2>h2 - This is a subtitle</h2>
<h3>h3 - This is a section title</h3>
<h4>h4 - This is a section subtitle</h4>

Styleguide 4.1.1
*/

h1, h2, h3, h4 {
	font-weight: 700;
	color: @gray-base;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}

// Secondary text
//
// Implemented using &lt;small&gt; or .small
//
// Markup:
// <h1>h1 - This is a main title - <small>Secondary text</small></h1>
// <h2>h2 - This is a subtitle - <small>Secondary text</small></h2>
// <h3>h3 - This is a section title - <small>Secondary text</small></h3>
// <h4>h4 - This is a section subtitle - <small>Secondary text</small></h4>
// <p>p - This is a normal text wth <small>secondary text</small> inside of it.</p>
//
// Styleguide 4.1.2

h1, h2, h3, h4 {
	.small, small {
		color: @gray;
	}
}

// Inline text
//
// Styleguide 4.2

// Highlighted
//
// Markup:
// This text contains a <mark>highlighted</mark> word.
//
// Styleguide 4.2.1

// Strikethrough / Deleted
//
// Markup:
// <p>This text contains a <s>strikethrough</s> word.</p>
// <p>This text contains a <del>deleted</del> word.</p>
//
// Styleguide 4.2.3

// Underline / Inserted
//
// Markup:
// <p>This text contains an <u>underlined</u> word.</p>
// <p>This text contains an <ins>inserted</ins> word.</p>
//
// Styleguide 4.2.4

// Small text
//
// Markup:
// This text contains a <small>small</small> word.
//
// Styleguide 4.2.5

// Bold text
//
// Markup:
// <p>This text contains an <strong>important</strong> word.</p>
// <p>This text contains a <b>bold</b> word.</p>
//
// Styleguide 4.2.6

// Italics
//
// Markup:
// <p>This text contains an <em>emphasized</em> word.</p>
// <p>This text contains an <i>italicized</i> word.</p>
//
// Styleguide 4.2.7

// Alignment
//
// Markup:
// <p class="text-left">Left aligned</p>
// <p class="text-center">Center aligned</p>
// <p class="text-right">Right aligned</p>
//
// Styleguide 4.2.8

// Transformation
//
// Markup:
// <p class="text-lowercase">Lowercased text</p>
// <p class="text-uppercase">Uppercased text</p>
// <p class="text-capitalize">capitalized text</p>
//
// Styleguide 4.2.9

// Abbreviations / initialism
//
// Markup:
// <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
// <p><abbr title="JavaScript Object Notation for Linked Data" class="initialism">JSON-LD</abbr> is pretty cool.</p>
//
// Styleguide 4.2.10









