/* 
Typografi

Styleguide 3.
*/

/* 
Typsnitt

Vi använder oss av Open Sans från Google Fonts. Vid behov av att använda ytterligare typsnitt ska dessa väljas med hänsyn till tillgänglighet och öppenhet. Välj om möjligt licensfria alternativ. 

Styleguide 3.1
*/

@font-family-base: 'Open Sans', sans-serif;


/*
Rubriker

Använd rubriker kontinuerligt för att skapa en tydlig hierarki. 

Huvudrubriken ska tydligt beskriva sidans innehåll och innefatta de viktigaste nyckelorden och sökorden. Den bör inte vara för lång. Använd bara en huvudrubrik per sida. 

| Element | Storlek | Vikt
|---|---|---|
| h1  | 36px | 700
| h2  | 30px | 700
| h3  | 24px | 700
| h4  | 20px | 700

Markup:
<h1>h1 - Det här är en huvudrubrik (nivå 1)</h1>
<h2>h2 - Det här är en underrubrik (nivå 2)</h2>
<h3>h3 - Det här är en underrubrik (nivå 3) </h3>
<h4>h4 - Det här är en underrubrik (nivå 4)</h4>

Styleguide 3.2
*/
body {
	line-height: 1.6;
	font-size: 16px;
	color: @black;
}

h1, h2, h3, h4 {
	font-weight: 700;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}

/*
Sekundär text / Liten text

Implementeras genom att använda &lt;small&gt; eller .small

 Markup:
<h1>h1 - This is a main title - <small>Secondary text</small></h1>
<h2>h2 - This is a subtitle - <small>Secondary text</small></h2>
<h3>h3 - This is a section title - <small>Secondary text</small></h3>
<h4>h4 - This is a section subtitle - <small>Secondary text</small></h4>
<p>p - This is a normal text with <small>secondary text</small> inside of it.</p>

Styleguide 3.2.1
*/

h1, h2, h3, h4 {
	.small, small {
		color: @gray;
	}
}



/*
Brödtext

| Element | Storlek | Vikt
|---|---|---|
| p 	| 16px | 400


Styleguide 3.3
*/

/*
Markerad

Markup:
This text contains a <mark>highlighted</mark> word.

Styleguide 3.3.1
*/

/*
Genomstruken / Borttagen

Markup:
<p>This text contains a <s>strikethrough</s> word.</p>
<p>This text contains a <del>deleted</del> word.</p>

Styleguide 3.3.2
*/

/*
Understruken

Markup:
<p>This text contains an <u>underlined</u> word.</p>
<p>This text contains an <ins>inserted</ins> word.</p>

Styleguide 3.3.3
*/

// Fet text
//
// Markup:
// <p>This text contains an <strong>important</strong> word.</p>
// <p>This text contains a <b>bold</b> word.</p>
//
// Styleguide 3.3.4

// Kursiv / Betonad
//
// Markup:
// <p>This text contains an <em>emphasized</em> word.</p>
// <p>This text contains an <i>italicized</i> word.</p>
//
// Styleguide 3.3.5

// Horisontell justering
//
// Markup:
// <p class="text-left">Left aligned</p>
// <p class="text-center">Center aligned</p>
// <p class="text-right">Right aligned</p>
//
// Styleguide 3.3.6

// Transformering
//
// Markup:
// <p class="text-lowercase">Lowercased text</p>
// <p class="text-uppercase">Uppercased text</p>
// <p class="text-capitalize">capitalized text</p>
//
// Styleguide 3.3.7

// Förkortningar / initialism
//
// Markup:
// <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
// <p><abbr title="JavaScript Object Notation for Linked Data" class="initialism">JSON-LD</abbr> is pretty cool.</p>
//
// Styleguide 3.3.8

/*
Visuella modifierare

Styleguide 3.4
*/

/*
Skugga

Markup:
<h3 class="has-shadow">Text with shadow</h3>
<p class="has-shadow">Text with shadow</p>

Styleguide 3.4.1
*/

h1, h2, h3, h4, p {
	&.has-shadow {
		text-shadow: 0px 1px 2px #000;
	}
}

/*
Färg

Markup:
<h3 class="text-black">Black header without shadow</h3>
<p class="text-black">Black text without shadow</p>
<h3 class="has-shadow text-white">White header with shadow</h3>
<p class="has-shadow text-white">White text with shadow</p>

Styleguide 3.4.2
*/

/*
Listor

Listor används för att strukturera upp innehåll. Det finns tre varianter av listor: oordnade, ordnade och definitionslistor. 
[Läs mer om rekommendationer för listor på webbriktlinjer](http://webbriktlinjer.se/r/104-gor-listor-med-de-html-element-som-ar-till-for-att-skapa-listor/#rekommendationer-fr-listor).


[Läs mer om olika sätt att skriva punktlistor](http://www.iklartext.se/skriv-punktlistor/).

Exempel på olika listor:

Styleguide 3.5
*/

/*
Länkar

Länkar är centralt för att skapa en bra användarupplevelse. Visa vart en länk leder någonstans även när länken är lyft ur sitt sammanhang. Detta är extra viktigt för personer som använder olika hjälpmedel, som till exempel skärmläsare, eftersom de kan välja att navigera genom att enbart läsa upp länkarna. Länkar gör det även lättare för sökmotorer att analysera innehållet, vilket leder till bättre relevansrankning. 

Att skriva [länkar direkt i texten](http://www.inuse.se/blogg/lankar-direkt-i-texten-inuseful/) kan försämra texten läsbarheten men även bidra till inspiration och ökad trovärdighet. Använd dem på ett genomtänkt sätt, utifrån tjänstens kontext och målgruppens förutsättningar. 

Texten på en länk bör inte innehålla någon onödig information. Skriv det viktigaste först och undvik att använda formuleringar som: "För mer information om" eller "...klicka här". Du bör inte heller skriva "Länk till...". Gör det uppenbart för användaren att en länk just är en länk, genom att skilja ut den grafiskt från övrigt innehåll. 

Styleguide 3.6
*/

/*
Länka till externa webbplatser

För länkar till externa webbplatser kan det vara bra att skriva ut organisation eller webbplatsens namn i slutet av länktexten. Länkar till andra webbplatser ska inte öppnas i nytt fönster. 

[Riktlinjer för att skriva tydliga länkar av E-delegationen](http://webbriktlinjer.se/r/5-skriv-tydliga-lankar/)

Styleguide 3.6.1
*/

/*
Länka till dokument och filer

För att länka till en fil, ange filens format och storlek. Denna information gör att det blir tydligt för användaren att länken inte leder till en webbplats. Att veta filens storlek hjälper användaren att avgöra hur lång tid det tar att ladda ner. Länkar för nerladdning bör alltid öppnas i ett nytt fönster.

[Ladda ner KBs Logotyp svart (SVG, 6K)](./assets/kb_logo_black.svg) 

Styleguide 3.6.2
*/



