// Variables
//
// List of variables used in the style guide
//
//
// Styleguide 3.

@purple: #683568;
@white: #ffffff;

@purple-light: lighten(@purple, 20%);
@purple-lighter: lighten(@purple, 50%);
@purple-dark: darken(@purple, 10%);
@purple-translucent: fade(@purple, 95%);
