/*
Färg

List of variables used in the style guide

Styleguide 5.
*/

/*
Färger
?
Styleguide 5.1
*/

@blue-pale: #72B9DE;
@blue: #37BAD4;
@green-pale: #4CB6AC;
@green: #34EAB4;
@yellow: #FBED18;
@orange: #FE8A65;
@orange-pale: #F9897D;
@red: #F84F4C;

@white: #ffffff;

@grey-dark: #4A5961;
@grey: #90A4AD;
@grey-base: #000000;
@grey-light: #E5E5E5;
@grey-lighter: #FAFAFA;


// Color connections
@brand-primary: @blue;
@brand-info: @blue-pale;
@brand-success: @green;
@brand-warning: @yellow;
@brand-danger: @red;
@brand-link: @blue;

@jumbotron-bg: @brand-primary;